@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Goldman&display=swap');

* {
  font-family: 'Goldman', cursive;
}

.logo {
  font-family: 'Audiowide', cursive;
  font-size: 1.7rem;
}
.logo:hover {
  color: greenyellow;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.search {
  width: 80%;
}
